spring:
  profiles:
    include: oauth
  session:
    store-type: jdbc
    jdbc.initialize-schema: always
    # jdbc.initialize-schema: always 을 하면서 session이 테이블에 자동으로 생성됨
  datasource:
    url: jdbc:h2:tcp://localhost/~/project
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        format_sql: true
  messages:
    basename: messages, errors
logging.level:
  org.hibernate.SQL: debug


server:
  servlet:
    session:
      tracking-modes: cookie
      timeout: 600
      # 세션의 수명을 10분으로 설정
# org.hibernate.type: trace

file.dir: C:/file/